<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<style>
table, th, td {
    border: 1px solid black;

    align:center;
}
th, td {
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #F0F8FF;
}
</style>
<div class="container-fluid" >
   
    <table class="table table-striped" class="col-md-4"style="background-color:#31b0d5;"  align="center">
        <thead>
            <tr>
                <th align="center">Id</th>
                <th align="center">Fecha</th>
                <th align="center">Estado</th>
                <th align="center">Acciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-fecha">{{record.fecha}}</td>
                <td id="{{$index}}-estado">{{record.estado}}</td>

                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="sancionEdit({sancionId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>