<html>
<head>
  <style>
    div {
      width: 100%;
      font-family: "Verdana";
    }
    
    body {
      background-color: CornflowerBlue;
    }
    
    fieldset {
      background-color: white;
    }
  </style>
</head>

<div>
  <fieldset>
    <legend> Reserva </legend>
    <table>
      <tr>
        <td id="nombre">Nombre: 'NombreUsuario'
          <br>
        </td>
        <th></th>
      </tr>
    </table>
    <div id="tipo">'TipoUsuario'</div>
    <div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form style="width:75%" novalidate name="form" id="reserva-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Crear Reserva</div>
        </div>
   
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="fecha" class="col-md-2 control-label">Fecha de Inicio</label>
                <div class="col-md-10">
                    <input id="fecha" name="fecha" class="form-control" type="date" ng-model="currentRecord.fechaInicial" ng-init="currentRecord.fechaInicial" required />
                </div>
                <label for="fecha" class="col-md-2 control-label">Fecha de Entrega</label>
                <div class="col-md-10">
                    <input id="fecha" name="fecha" class="form-control" type="date" ng-model="currentRecord.fechaFinal" ng-init="currentRecord.fechaFinal" required />
                </div>
                
            </div>
    
                <div>
            <button class="btn btn-primary" type="submit">Generar Reserva</button>
            <button class="btn btn-default" type="button" ui-sref='reservasUsuarioList({usuarioId: idU})'>Cancelar</button>    
                </div>
        </fieldset>
    </form>
</div>

</div>
</html>
