<div>
  <fieldset>
    <legend> Reserva </legend>
    <table>
      <tr>
        <td id="nombre">Nombre: 'NombreUsuario'
          <br>
        </td>
        <th></th>
      </tr>
    </table>
    <div id="tipo">'TipoUsuario'</div>
    <div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form style="width:75%" novalidate name="form" id="reserva-form" role="form" ng-submit="ctrl.editRecord(currentRecord)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Editar Reserva</div>
        </div>
   
        <fieldset>
        <input id="id" class="form-control" type="hidden" ng-init="currentRecord" ng-model="currentRecord"/>
        <table>
            <tr>
                <td>Cancelar:
                <select ng-model="currentRecord.estado">
                    <option value="4">Si</option>
                    <option value="2">No</option>
                </select>
                <br>
                </td>
            </tr>
        </table>
            
   <br> Calificacion:
    <select ng-model="currentRecord.calificacion">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>


    <fieldset style="width:200px">
      <legend> Comentarios </legend>
      <textarea style="border: 2px solid black " name="Comentarios" rows="5" cols="40"></textarea>
    </fieldset>
    <br> 
                <div>
                    <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-default" type="button" ui-sref='reservasUsuarioList({usuarioId: idU})'>Cancelar</button>    
                </div>
        </fieldset>
    </form>
</div>

</div>
