<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MainApp">
<head>
    
     <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <meta charset="UTF-8">
        <title>Bienvenidos a Audiovisuales-CodeHub</title>
        
        <script src="src/modules/usuarios/usuarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.ctrl.js" type="text/javascript"></script>
    
    
    <link rel="stylesheet prefetch" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  </head>
  <div ui-view="mainView">
  <body style="background-color: cornflowerblue;">
<div class="container">
      <div class="wrapper" style="background-color:white;width:350px;center">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="">
      <input type="password" class="form-control" name="password" placeholder="Password" required="">      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn btn-success btn-block" type="submit" >Login</button>   
      <button class="btn btn-lg btn-primary btn btn-success btn-block" type="submit" >Login Profesor</button>
    </form>
  </div>
    
    </div>
 </body>
  </div>
</html>
