<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form style="width:75%" novalidate name="form" id="reserva-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Crear Reserva</div>
        </div>
   
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Nombre Edificio</label>
                <div class="col-md-10">
                    <input id="nombre" name="name" class="form-control" type="text" ng-model="currentRecord.name" ng-init="currentRecord.name" required />
                </div>
                <label for="fecha" class="col-md-2 control-label">Fecha de Prestamo</label>
                <div class="col-md-10">
                    <input id="fecha" name="fecha" class="form-control" type="date" ng-model="currentRecord.fecha" ng-init="currentRecord.fecha" required />
                </div>
                
                <label for="calificacion" class="col-md-2 control-label">Calificación</label>
                <div class="col-md-10">
                    <input id="calificacion" name="calificacion" class="form-control" type="text" ng-model="currentRecord.calificacion" ng-init="currentRecord.calificacion" required />
                </div>
                
            </div>
    
                <div>
            <button class="btn btn-default" type="button" ui-sref='reservasList'>Cancel</button>
            <button class="btn btn-default" type="submit" >Save</button>    
                </div>
        </fieldset>
    </form>
</div>
